body {
    background: #000000;
    color: #ffffff;
    font-family: "Times New Roman", Sans-Serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

div {
    min-height: 150px;
    padding: 25px;
}

h1 {
    font-size: 64px;
    text-align: center;
    padding: 10px;
}

p {
    font-size: 24px;
    padding-top: 15px;
}

h2 {
    font-size: 32px;
    text-shadow: 4px 4px 2px #808080;
}
#red {
    background: #FF0000;
    text-align: right;
}

#blue {
    background: #0000ff;
    text-align: left;
}

#yellow {
    background: #FFFF00;
    text-align: right;
    color:#000000;
}

#yellow h2 {
    text-shadow: 4px 4px 2px #c7e2c7;
} 

#green {
    background: #008000;
    text-align: left;
}

footer {
    text-align: center;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 10px;
    padding-right: 10px;
}
