/*STARTER CODE*/

/*
We have started some of the selectors for you.
For others we have provided hints on what the selectors should be.
There are some missing selectors.
Make sure to learn what the starter code does!!
*/

/*STARTER CODE - DO NOT CHANGE*/
main{
  margin-bottom: 100px;
}

caption{
  margin:5px 0px;
}

/* If you decide to uncomment this code, comment it back for the Autograder. */
/* tr{
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
} */

/*END STARTER CODE*/

body{
  font-family: "Andika", Sans-Serif;
  background-image: url("../images/pigeon-background.JPEG");
  background-color:#DDDDDD;
  background-repeat: no-repeat;
  color: #000000;
  font-size: 16px;
  margin: 1.2em;
  background-size: cover ;
  background-position: center;
  /*Req 1*/
}

h1{
  font-size: 32px;
  color: #c12258;
  text-align: center;
  line-height: 2;
  /*Req 2*/
}

p{
  padding-top: 15px;
}

a{
  text-decoration-style: wavy;
  font-size: 16px;
  color: #B21F50;
}

/*Req 5*/
/*Add selector and rule here*/



td{
  text-align: center;
  border-top: 2px solid black;
  padding: 10px; 
}

tr:nth-child(even) {
  background-color: #D1D1D1;
}


.colhead{
  min-width: 125px;
  padding: 10px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  background-color: #7e0825;
}


.rowhead{
  border: 2px solid #000000;
}


table{
  border: 5px solid #000000;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
}

.tr:hover {
  background-color:#7e0825;
  opacity: 0.25;
}


/* I gave you the selector, but not the property-value pair. 
You can use Inspect Element or your editor to find selectors. */
thead tr:first-child th:first-child{
  border-radius: 50px 0px 0px 0px;
}

thead tr:last-child th:last-child{
  border-radius: 0px 50px 0px 0px;
}

tr:first-child td:first-child{
  border-radius: 0px 0px 0px 50px;
}

tr:last-child td:last-child{
  border-radius: 0px 0px 50px 0px;
}


/*Add selectors and rules here*/


footer{
  position: fixed;
  bottom: 0;
  left: 0;
  min-height: 75px;
  min-width: 100%;
  background:#000000;
  text-align:center;
  color: #FFFFFF;
}
